In [1]:
import pandas as pd

path1 = 'https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv'

countries_df = pd.read_csv(path1)
countries_df.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495

In [2]:
countries_df.shape

(210, 6)

**Q1: How many countries does the dataframe contain?**

In [ ]:
num = countries_df.shape[0]
print('There are {} countries in the dataframe.'.format(num))

There are 210 countries in the dataframe.

**Q2: Retrieve a list of continents from the dataframe?**

In [ ]:
countries_df.continent.unique().tolist()

['Asia', 'Europe', 'Africa', 'North America', 'South America', 'Oceania']

**Q3: What is the total population of all the countries listed in this dataset?**

In [ ]:
total = countries_df.population.sum()
print('The total population in the dataset is {}.'.format(total))

The total population in the dataset is 7757980095.0.

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [ ]:
countries_df.life_expectancy.mean().round(2)

73.53

**Q4: Create a dataframe containing 10 countries with the highest population.**

In [ ]:
countries_df[['location','population']].sort_values('population', ascending=False).head(10)
#countries_df.nlargest(10, 'population')

          location    population
41           China  1.439324e+09
90           India  1.380004e+09
199  United States  3.310026e+08
91       Indonesia  2.735236e+08
145       Pakistan  2.208923e+08
27          Brazil  2.125594e+08
141        Nigeria  2.061396e+08
15      Bangladesh  1.646894e+08
157         Russia  1.459345e+08
125         Mexico  1.289328e+08

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [ ]:
countries_df['GDP_per_country'] = countries_df.population * countries_df.gdp_per_capita
countries_df.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [ ]:
countries_df[countries_df['population'] > 100e6].sort_values('gdp_per_capita').head(10)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,5.803628e+11
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.100467e+12
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,8.327273e+11
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206,1.079649e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,2.997821e+12
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [ ]:
countries_df.groupby('continent')['location'].count().to_frame()

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [ ]:
countries_df.groupby('continent')['population'].sum()

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

**Covid-19 stats for various countires.**

In [ ]:
path2 = 'https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv'

covid_df1 = pd.read_csv(path2)
covid_df1.head()

      location  total_cases  total_deaths  total_tests
0  Afghanistan      38243.0        1409.0          NaN
1      Albania       9728.0         296.0          NaN
2      Algeria      45158.0        1525.0          NaN
3      Andorra       1199.0          53.0          NaN
4       Angola       2729.0         109.0          NaN

**Q8: Count the number of countries for which the `total_tests` data is missing.**

In [ ]:
covid_df1.total_tests.isnull().sum()

122



**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [ ]:
combined_df = covid_df1.merge(countries_df, on='location')
combined_df.head()

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']
combined_df.tail()

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country,tests_per_million,cases_per_million,deaths_per_million
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.6,6171.884,6.007624e+11,2681.403324,10.745996,0.359570
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN,NaN,1282.373228,1.674116
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10,NaN,66.250993,19.144391
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.0,3689.251,6.782303e+10,NaN,675.317108,15.883415
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.7,1899.775,2.823622e+10,6544.605918,446.614587,13.859989

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
tpm = combined_df.nlargest(10, 'tests_per_million')
tpm[['location', 'tests_per_million']]

                 location  tests_per_million
197  United Arab Emirates      725696.635121
14                Bahrain      657527.137965
115            Luxembourg      616349.508607
122                 Malta      427004.183096
53                Denmark      422621.755488
96                 Israel      271962.665303
89                Iceland      260304.761905
157                Russia      254750.159763
199         United States      253467.507769
10              Australia      245326.517406

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [ ]:
cpm = combined_df.nlargest(10, 'cases_per_million')
cpm[['location', 'cases_per_million']]

          location  cases_per_million
155          Qatar       41375.743650
14         Bahrain       30818.361490
147         Panama       21805.112117
40           Chile       21695.671982
162     San Marino       21657.139490
9            Aruba       20708.839893
105         Kuwait       20249.789079
150           Peru       20121.318048
27          Brazil       18808.224105
199  United States       18472.377957

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
dpm = combined_df.nlargest(10, 'deaths_per_million')
dpm[['location', 'deaths_per_million']]

           location  deaths_per_million
162      San Marino         1237.550828
150            Peru          887.393445
18          Belgium          854.040375
3           Andorra          685.950948
177           Spain          624.406705
198  United Kingdom          611.525168
40            Chile          593.423100
97            Italy          587.097697
27           Brazil          582.331314
182          Sweden          576.279276

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
resData = cpm.merge(tpm, how = 'inner' )
num_1 = resData.location.count()
print('There are {} countries that feature in both the lists. '.format(num_1))

There are 2 countries that feature in both the lists.

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
# Countries having population higher than ten million
countries_df_10 = countries_df[countries_df['population'] > 10e6]
countries_df_10.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
7,Argentina,South America,45195777.0,76.67,5.00,18933.907,8.557326e+11
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710,1.138537e+12

In [ ]:
# Twenty countries from above dataframe having lowest gdp capital
gpc_low = countries_df_10.sort_values('gdp_per_capita').head(20)

gpc_low

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10
140,Niger,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,1.757290e+10
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10
31,Burkina Faso,Africa,20903278.0,61.58,0.4,1703.102,3.560041e+10
63,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11
39,Chad,Africa,16425859.0,54.24,NaN,1768.153,2.904343e+10
0,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987,7.022622e+10
158,Rwanda,Africa,12952209.0,69.02,NaN,1854.211,2.401613e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.7,1899.775,2.823622e+10
82,Guinea,Africa,13132792.0,61.60,0.3,1998.926,2.625148e+10
121,Mali,Africa,20250834.0,59.31,0.1,2014.306,4.079138e+10
20,Benin,Africa,12123198.0,61.77,0.5,2064.236,2.502514e+10
135,Nepal,Asia,29136808.0,70.78,0.3,2442.804,7.117551e+10

In [ ]:
# 20 countries with lowest number hospital bed per thousand population from countries_df_10
hbpt_low = countries_df_10.sort_values('hospital_beds_per_thousand').head(20)
hbpt_low

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP_per_country
121,Mali,Africa,2.025083e+07,59.31,0.10,2014.306,4.079138e+10
117,Madagascar,Africa,2.769102e+07,67.04,0.20,1416.440,3.922267e+10
140,Niger,Africa,2.420664e+07,62.42,0.30,926.000,2.241534e+10
135,Nepal,Asia,2.913681e+07,70.78,0.30,2442.804,7.117551e+10
82,Guinea,Africa,1.313279e+07,61.60,0.30,1998.926,2.625148e+10
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11
31,Burkina Faso,Africa,2.090328e+07,61.58,0.40,1703.102,3.560041e+10
195,Uganda,Africa,4.574100e+07,63.37,0.50,1697.707,7.765482e+10
0,Afghanistan,Asia,3.892834e+07,64.83,0.50,1803.987,7.022622e+10
20,Benin,Africa,1.212320e+07,61.77,0.50,2064.236,2.502514e+10
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
80,Guatemala,North America,1.791557e+07,74.30,0.60,7423.808,1.330017e+11
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12
85,Haiti,North America,1.140253e+07,64.00,0.70,1653.173,1.885036e+10
207,Yemen,Asia,2.982597e+07,66.12,0.70,1479.147,4.411699e+10
187,Tanzania,Africa,5.973421e+07,65.46,0.70,2683.304,1.602851e+11
132,Mozambique,Africa,3.125544e+07,60.85,0.70,1136.103,3.550939e+10
32,Burundi,Africa,1.189078e+07,61.58,0.80,702.225,8.350004e+09
33,Cambodia,Asia,1.671897e+07,69.82,0.80,3645.070,6.094182e+10
204,Venezuela,South America,2.843594e+07,72.06,0.80,16745.022,4.761605e+11

In [ ]:
com_countries = gpc_low.merge(hbpt_low, how='inner')
cu = com_countries.location.count()
print('There are {} countries in both list.'.format(cu))

There are 14 countries in both list.

** SOURCE: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice **